[submodule "repos/hdf5"]
	path = repos/hdf5
	url = https://github.com/HDFGroup/hdf5
	branch = hdf5_1_14_3
[submodule "repos/cgns"]
	path = repos/cgns
	url = https://github.com/CGNS/CGNS.git
[submodule "repos/zlib"]
	path = repos/zlib
	url = https://github.com/madler/zlib
[submodule "repos/parmetis_fix"]
	path = repos/parmetis_fix
	url = git@github.com:harryzhou2000/parmetis_fix.git
